@import url("estilos_index.css");

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.menu-category {
  margin: 3rem 0;
}

.menu-category h2 {
  color: var(--granate);
  text-align: center;
  margin-bottom: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  background-color: var(--granate);
  color: var(--beige);
}

.cards article {
  background-color: var(--granate);
  color: var(--beige);
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card p {
  color: var(--beige);
  font-size: 0.95rem;
}
